.bg-primary-soft {
  background-color: rgba(var(--bs-primary-rgb), 0.1);
}

.bg-success-soft {
  background-color: rgba(var(--bs-success-rgb), 0.1);
}

.bg-warning-soft {
  background-color: rgba(var(--bs-warning-rgb), 0.1);
}

.bg-info-soft {
  background-color: rgba(var(--bs-info-rgb), 0.1);
}

.bg-danger-soft {
  background-color: rgba(var(--bs-danger-rgb), 0.1);
}

.bg-secondary-soft {
  background-color: rgba(var(--bs-secondary-rgb), 0.1);
}

.bg-purple-soft {
  background-color: rgba(111, 66, 193, 0.1);
} 